html {
	height:100%;
}

body {
	margin:auto;
	padding:0;
	max-width:50rem;
	font-family:sans-serif;
	background:#F8F7F2;
	height:100%;
	width:100%;
}

#content {
	margin:auto;
	padding: 0 1.5rem;
}

pre {
        padding:1rem;
        overflow:auto;
        border:2px solid #DDD;
}

li {
	margin:0.5rem 0;
}

a {
	color:#185700;
}
a:hover {
	color:#248000;
}

nav {
        padding:0.5rem 1rem 0.6rem;
        border-bottom:2px solid #185700;
	overflow:auto;
}
nav span {
        float:right;
        padding-top:0.4rem;
}
nav a {
        font-size:1.2rem;
        padding-left:1rem;
        text-decoration:none;
}
nav a#site-title {
        font-size:1.8rem;
        padding:0;
}


h1 {
        text-align:center;
}
h1,h2,h3 {
        color:#185700;
}
h2, h3 {
	font-weight:normal;
	text-decoration:underline;
        margin-top:2rem;
        margin-bottom:0.8rem;
}
p {
        line-height:1.5;
}


.article-list-card h2 {
	font-size:1.2rem;	
	font-weight:normal;
	margin-bottom:0;
}
.post-meta {
	margin-top:0;
	color:#8c8c8c;
}
.post-meta a {
	text-decoration:none;
	color:#5b804d;
}
.post-meta a:hover {
	text-decoration:underline;
}

.pagination {
	list-style-type:none;
	padding:0;
	margin:auto;
	text-align:center;
}
.pagination .page-item {
	display:inline-block;
	background-color:#D1EAC8;
}
.pagination .page-item a {
	text-decoration:none;
}
.pagination .page-item a:hover {
	background-color:#E0F1DA;
}
.pagination .page-item.disabled a {
	background-color:#F8F7F2;
	color:#AAAAAA
}
.pagination .page-item.active a {
	color:#FFFFFF;
	background-color:#185700;
}
.pagination li a {
	text-align:center;
	display:block;
	width:3rem;
	padding:0.5rem 0;
}

.nodeco {
	list-style-type:none;
	padding:0;
	margin:0;
}


#logo {
        text-align:center;
}

#logo pre {
        border:0;
	margin:0;
	margin-top:3rem;
        padding:0;
        text-align:left;
        display:inline-block;
        color:#185700;
        font-weight:bold;
}

/*
html {
        height:100%;
}
body {
        margin:auto;
	padding:0;
        max-width:50rem;
        font-family:sans-serif;
        background:#F8F7F2;
        height:100%;
	width:100%;
}
.content {
	margin:auto;
        padding:0 1.5rem;
}


h1,h2,h3 {
        font-weight:normal;
        text-decoration:underline;
}
h1 {
        color:#185700;
        text-align:center;
}
h2, h3 {
        margin-top:2rem;
        margin-bottom:0.8rem;
}
p {
        line-height:1.5;
}


nav {
        padding:0.5rem 1rem 0.6rem;
        border-bottom:2px solid #185700;
}
nav span {
        float:right;
        padding-top:0.4rem;
}
nav a {
        font-size:1.2rem;
        padding-left:1rem;
        text-decoration:none;
}
nav a.logo {
        font-size:1.8rem;
        padding:0;
}



.link::before {
        content:'\279C';
        margin-right:0.5rem;
}
.link {
        margin:0.3rem 0;
}
a {
        color:#185700;
}



code {
        color:#185700;
}
pre {
        padding:1rem;
        overflow:auto;
        border:2px solid #DDD;
}

.logo {
        text-align:center;
}
.logo pre {
        border:0;
	margin:0;
	margin-top:3rem;
        padding:0;
        text-align:left;
        display:inline-block;
        color:#185700;
        font-weight:bold;
}
*/
