{{ define "main" }}
	<section>
		{{- $paginator := .Paginate (where .Site.RegularPages ".Params.unlisted" "!=" "true") }}
		{{ partial "listpages-card.html" $paginator.Pages }}
		{{ template "_internal/pagination.html" . }}
	</section>
	<div id="logo" role="img" aria-label="Text art logo spelling 'Regrow.Earth' with an apple tree">
<pre> ____
|  _ \    2 0 2 0  -  2 0 2 3
| |_) )___  __ _ _ __ ___  _    _
|    // _ \/ _` | '__) _ \| |/\| |
| |\ \  __/ (_| | | | (_) | ´  ` |
|_| \_\___)\__, |_|  \___/|__/\__|
   ____     __/ |  _   _         ___
  |  __)   (___/  | |_| |       /  ó\
  | |__  __ _ _ __|  _) |__    /  ò  \
  |  __)/ _` | '__) | | ´_ \  | ó   ò |
 _| |__| (_| | |  | |_| | | |  \_ó_ _/
(_)____)\__,_|_|  \___)_| |_| ó  | | ò
</pre>
	</div>
{{ end }}
