{{ define "main" }}
	<h1>{{ .Title }}</h1>
	<ul>
	{{ range where .Site.RegularPages ".Params.unlisted" "!=" "true" }}
		<li>
			<span>
			{{- .Date.Format "2006-01-02" }}
			{{- printf " " -}}
			<a href="{{ .Permalink }}">
					{{- .Title -}}
			</a>
			{{- $scratch := newScratch }}

			{{- $scratch.Set "taxo" "authors" }}
			{{- $scratch.Set "terms" (.Params.authors) }}
			{{- with .Param "authors" }}
				{{- printf " by " }}
				{{- partial "listtaxo.html" $scratch }}
			{{- end }}

			{{- $scratch.Set "taxo" "tags" }}
			{{- $scratch.Set "terms" (.Params.tags) }}
			{{- with .Param "tags" }}
				{{- printf " - " }}
				{{- partial "listtaxo.html" $scratch }}
			{{- end }}
			</span>
		</li>
	{{ end }}
	</ul>
{{ end }}
