{{ define "main" }}
	<h1>{{ .Title }}</h1>
	{{ .Content }}
	<section>
		{{ $paginator := .Paginate (where .RegularPages ".Params.unlisted" "!=" "true") }}
		{{ partial "listpages-card.html" $paginator.Pages }}
		{{ template "_internal/pagination.html" . }}
	</section>
{{ end }}
