<head>
	<title>
		{{- printf `%s ` .Site.Params.icon }}
		{{- if not .IsHome }}
			{{- printf `%s - ` .Page.Title }}
		{{- end -}}
		{{- .Site.Title }}
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/style.css">
	{{ with (.GetPage "/").OutputFormats.Get "rss" }}
		{{- printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
