<nav>
	<a id="site-title" href="{{ (.GetPage "/").Permalink }}">{{ .Site.Params.icon }} {{ .Site.Title }}</a>
	<span>
		<a href="{{ (.GetPage "/about").Permalink }}">About</a>
		<a href="{{ (.GetPage "/archive").Permalink }}">Archive</a>
		{{ with (.GetPage "/").OutputFormats.Get "rss" }}
			{{- printf `<a href="%s">RSS Feed</a>` .Permalink | safeHTML }}
		{{- end }}
	</span>
</nav>
