<span class="post-meta">
{{- with .Date -}}
<time datetime="{{- .Format "2006-01-02" }}">
	{{- .Format "2006-01-02" -}}
</time>
{{- else }}
	{{ errorf "Post '%s' does not have a date!" .Path }}
{{- end }}
{{- with .Params.authors }}
	{{- print " by " }}
	{{- $scratch := newScratch }}
	{{- $scratch.Set "taxo" "authors" }}
	{{- $scratch.Set "terms" . }}
	{{- partial "listtaxo.html" $scratch }}
{{- end }}
{{- if ne .Lastmod .Date }}
	{{- print " - updated " -}}
	<time datetime="{{- .Lastmod.Format "2006-01-02" }}">
		{{- .Lastmod.Format "2006-01-02" -}}
	</time>
{{- end -}}</span>
