<ul class="nodeco">
	{{- range . }}
	<li class="article-list-card"><article>
		<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
		{{ partial "listmeta.html" . }}
	</article></li>
	{{ end }}
</ul>
